<form method="POST" action='/logs'>
    <label for="date">Date</label>  
    <input type="text" id="date" name="date" />
    <br>
    <label for="distance">Distance</label>
    <input type="text" id="distance" name="distance" />
    <br>    
    <label for="pace">Pace</label>
    <input type="text" id="pace" name="pace" /> 
    <br>
    <label for="avg_heart_rate">Average Heart Rate</label>
    <input type="text" id="avg_heart_rate" name="avg_heart_rate" />
    <br>
    <label for="notes">Notes</label>
    <input type="text" id="notes" name="notes" />
    <br>
    <br>
    <input type="submit" value="Submit" />
</form>