<p>Welcome, <%= current_user.username %>
<br>

<% @user.logs.each do |log| %>
    <div>
        <%= log.date %>
    <div>
<%end%>

<a href="/logs/new">Create a New Run Log</a>
<br>
<br>
<p><a href="/logout">Log Out</a></p>






