<p>Welcome, <%= current_user.username %>
<%=flash[:delete]%>
<%=flash[:error]%>
<h1> Welcome to the Run Log. The place to track your time and compete anonymously against others!</h1>
<h3> Your Logs: </h3>
<a href="/logs/new">Create a New Run Log</a>
<br>
<br>
 <a href="/logs/all">View all Logs</a>
<br>
<br>








