
<!DOCTYPE html>
<html>
<head>
    <title>Running Log</title>
    <style>
    body{
        background-color: #FAEBD7;
        text-align: center;
        font-family: arial, sans-serif;
        font-weight: normal;
    }

    h1{
        font-size: xx-large;
        color: #1C0703;
        text-align: center;
        padding: 50px 70px 50px;
    }

    p{
        font-size: xx-large;
        text-align: center;
        padding: 50px 70px 50px;
    }

    h2{
        font-size: xx-large;
        color: #1C0703;
        text-align: center;
        padding: 50px 70px 50px;
    }

    h3{
        font-size: xx-large;
        color: #1C0703;
        text-align: center;
        padding: 50px 70px 50px;
    }
    </style>
</head>
    <body>
        <div class="nav">
        <a href="/logout">Logout</a>
        <a href="/logs/all">View all Logs</a>
        <%= yield %>
    </body>
</html>